.edit-button-bg {
    padding: 0px 5px 0 5px;
    border: 1px solid #367c2b8f;
    border-radius: 6px;
}

input {
    border: none;
}

/* .model {
    padding: 2px;
    border: 1px solid #367c2b8f;
    border-radius: 6px;
} */

.completed-link {
    margin: 20px;
}

.tableHead {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.link {
    text-decoration: none;
  }
  
#search {
    background-image: url('/src/Styles/search-icon.png');
    background-size: 32px;
    background-position: 02px 2px;
    background-repeat: no-repeat;
    /* min-width: 15%; */
    font-size: 18px;
    padding: 8px 20px 8px 40px;
    border: 0px solid #ddd;
    border-radius: 8px;
    margin-right: 25px;
}

.searchAndFilter {
    display: flex;
    flex-direction: row;
}

#search:focus {
    outline: none !important;
}
  
.filter {
    min-width: 150px;
    margin-right: 25px;
}
 